* {
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: "inter";
  src: url(/assets/fonts/inter.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  background: #f5f5f5;
  font-family: 'inter';
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #fec000;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
  position: sticky;
  z-index: 1;
  top: 0;
  background: #fff;
}

.auth-button {
  background: #fec000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
}

.auth-button a {
  text-decoration: none;
  color: #2a2a2a;
}

.auth-button:hover {
  background: #fede00;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: #212121;
}

.nav-item:hover {
  color: #fec000;
  text-decoration: underline;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  height: 80vh;
}

.hero-left {
  width: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.hero-buttons {
  margin-top: 40px;
}

.hero-right {
  width: 40%;
  background-image: url(/assets/images/92766dc3-7e77-4da1-80b5-a52cbacb5ae9_removalai_preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1;
  border-radius: 30px;
}

.hero-buttons {
  display: flex;
  gap: 18px;
}

.hero-button-left {
  background: #fff;
  color: #212121;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  border-color: #fec000;
  border-style: dotted;
}

.hero-button-right {
  background: #212121;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
}

.discover-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.more-products-button {
  background: #ffffff;
  color: #212121;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: 2px solid #212121;
  gap: 8px;
}

.discover-section {
  display: flex;
  flex-direction: column;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 20px;
}


.product-item {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.product-cover {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 14px;
}


.product-cover.orange { background: url("/assets/images/orange-burst.png") center/cover no-repeat;}
.product-cover.lemon { background: url("/assets/images/lemon-fresh.png") center/cover no-repeat;}
.product-cover.grapefruit { background: url("/assets/images/grapefruit-splash.png") center/cover no-repeat;}
.product-cover.citrusmix { background: url("/assets/images/citrus-mix.png") center/cover no-repeat;}


.product-item h3 {
  margin-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
}

.product-item p {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
}

.price {
  font-weight: bold;
  color: #fec000;
  padding-left: 14px;
  padding-right: 14px;
}

.why-choose-us {
  text-align: center;
  padding: 80px 20px 60px 80px;
  justify-content: center;
  align-items: center;
}

.why-choose-us h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.reasons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

.reasons ul {
  list-style-type: none;
}

.reasons ul {
  list-style-type: none;
}

.reasons ul li p {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.how-its-made {
  text-align: center;
  padding: 80px 20px 60px;
  justify-content: center;
  align-items: center;
}

.how-its-made h2 {
    font-size: 40px;
  margin-bottom: 10px;
}

.how-its-made p {
  color: #666;
  max-width: 500px;
  font-size: 16px;
}

.process {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 20px;
}

.process h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.process-step {
  border-radius: 14px;
  box-shadow: 0 4px 1px #fec000;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 200px;
}

.process-step:hover {
  transform: translateY(-4px);
}

.process-step img {
  padding-bottom: 14px;
}

.process-step h3 {
  padding-bottom: 10px;
}

.footer {
  margin-top: 80px;
  background: #2a2a2a;
  color: #ddd;
  padding: 50px 20px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 40px;
}

.footer-brand p {
  margin-top: 10px;
  font-size: 14px;
  color: #aaa;
}

.footer-links h4 {
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #fec000;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 14px;
  text-align: center;
  font-size: 13px;
  color: #777;
}


